/* -----------------------
Reviews Container 
----------------------- */

.reviews-container .reviews-row {
    width: 1080px;
    margin: 0 auto;
    padding: 60px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    /* justify-content: space-between;
    align-items: center; */
}

.reviews-container h2{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}
.reviews-container h2 span{
    color: goldenrod;
}