/* -----------------------
Hero Container 
----------------------- */
.hero-container .row {
    width: 1080px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-container .col {
    width: 48%;
}

.hero-container img {
    width: 98%;
    padding: 2%;
}

.hero-container button {
    font-size: 16px;
    padding: 10px 32px;
    border-radius: 6px;
    border: none;
    background-color: #3B5C20;
    color: white;
    text-transform: capitalize;
    cursor: pointer;
}

/* -----------------------
Reviews Container 
----------------------- */
/* 
.reviews-container .row {
    width: 1080px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reviews-container .col{
    width: 32%;
} */
.see-all-reviews {
    text-align: center;
    margin-bottom: 60px;
}

.see-all-reviews a {
    font-size: 16px;
    padding: 10px 52px;
    border-radius: 6px;
    border: none;
    background-color: #3B5C20;
    color: white;
    text-transform: capitalize;
    cursor: pointer;
    text-decoration: none;
}