.container {
    background-color: white;
    padding: 10px;
    box-shadow: 0 10px 10px #00000012;
}

.header {
    width: 1080px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    width: 80%;
}

.header a {
    margin-left: 20px;
    text-decoration: none;
    padding: 8px 25px;
    background-color: #3B5C20;
    border-radius: 4px;
    color: white;
}