.footer{
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: white;
    text-decoration: none;
    background-color: black;
    height: 120px;
}
.footer p{
   padding-top: 50px;
}
.footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .footer {
        width: 100%;
    }
  }